<!-- The actual Page displayed in the final product -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESP32 tool</title>
</head>
<body>
<div id="left-column">

</div>
<div id="middle-column">
    <h1>{{ temperature }}</h1>
</div>
<div id="right-column">
    <form  action="/" method="post">
        <p><input type="submit" name="submit" value="Off"> </p>
        <p><input type="submit" name="submit" value="Solid Colour"> </p>
        <p><input type="submit" name="submit" value="Rainbow"> </p>
        <p><input type="submit" name="submit" value="Chase"> </p>
        <p><input type="submit" name="submit" value="Flame"> </p>
    </form>
</div>


</body>
</html>