<!-- The actual Page displayed in the final product -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESP32 tool</title>
</head>
<body>
<div id="left-column">

</div>
<div id="middle-column">

</div>
<div id="right-column">
    <form  action="/" method="post">
        <p><input type="submit" name="submit" value="Toggle on/off"> </p>
        <p><input type="submit" name="submit" value="Pattern 1"> </p>
        <p><input type="submit" name="submit" value="Pattern 2"> </p>
        <p><input type="submit" name="submit" value="Pattern 3"> </p>
        <p><input type="submit" name="submit" value="Pattern 4"> </p>
    </form>
</div>


</body>
</html>