<!-- The actual Page displayed in the final product -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESP32 tool</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <script src="script.js">getTemp()</script> -->
</head>
<body>
<h1 class="title">ESP32 Remote Control</h1>
<div id="columns">
    <div class="column" id="middle-column">
           <h2>ESP32 Internal Temperature:</h2>
            <div class="data-display" id="temperature-display">
                <h1 id="temperature"></h1>
                <h1>&#176;C</h1>
            </div>
            <div class="data-display">
                <h1>Current Pattern: </h1>
                <h1 id="pattern"></h1>
            </div>
            <div class="data-display">
                <h1>Button Pressed: </h1>
                <h1 id="button"></h1>
            </div>


    </div>
    <div class="column" id="right-column">
        <form  action="/" method="post">
            <p><input type="submit" name="submit" value="Off"> </p>
            <p><input type="submit" name="submit" value="Yellow"> </p>
            <p><input type="submit" name="submit" value="Red"> </p>
            <p><input type="submit" name="submit" value="Green"> </p>
            <p><input type="submit" name="submit" value="Rainbow"> </p>
            <p><input type="submit" name="submit" value="Chase"> </p>
            <p><input type="submit" name="submit" value="Flame"> </p>
        </form>
    </div>
</div>
<script>
        var intervalId = setInterval(function() {
            console.log("js Running")
            const url = "/get_js_data"
            fetch(url)
            .then(response => response.json())
            .then(json => {
                console.log(json);
                document.getElementById("temperature").innerHTML = JSON.stringify(json.Temperature)
                document.getElementById("pattern").innerHTML = JSON.stringify(json.Pattern)
                document.getElementById("button").innerHTML = JSON.stringify(json.ButtonPressed)

            })
        }, 2000);
</script>
</body>
</html>